* {
    margin: 0;
    font-family: 'Saira';
}
body {
    background-color: rgb(255, 255, 255);
}
@media (min-width: 1080px) {
    .container {
        width: 100%;
        height: 100vh;
        background: linear-gradient(0deg, #364F6B 50%, #3FC1C9 50%);
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
            ". . . . ."
            ". words words words ."
            ". words words words ."
            ". words words words ."
            ". . . . .";
    }
    .words {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
            ". . . . ."
            ". left english right ."
            ". . . . ."
            ". . meaning . ."
            ". buttonleft . buttonright ."; 
        justify-content: center; 
        align-content: center; 
        justify-items: center; 
        align-items: center; 
        grid-area: words; 
    }
    #english { grid-area: english; font-size: 100px; color: #364F6B;}
    #meaning { grid-area: meaning; position: absolute; top: 51%; font-size: 45px; color: #F5F5F5; margin: auto;}
    .right { 
        grid-area: right; width: 75px; height: auto; justify-self: start;
        font-size: 75px;
        color: #F5F5F5;
        display: flex;
        justify-content: center; 
        align-content: center; 
        justify-items: center; 
        align-items: center; 
    }
    .left { 
        grid-area: left; width: 75px; height: auto; justify-self: end;
        font-size: 75px;
        color: #F5F5F5;
        display: flex;
        justify-content: center; 
        align-content: center; 
        justify-items: center; 
        align-items: center; 
    }
    #buttonright {
        grid-area: buttonright;
        width: 150px;
        height: 75px;
        background-color: #3fc2c9c0;
        color: #F5F5F5;
        border-radius: 10px;
        font-size: 35px;
        position: absolute;
        top: 75%;
        right: 30%;
        display: flex;
        justify-content: center; 
        align-content: center; 
        justify-items: center; 
        align-items: center; 
    }
    #buttonright:active {
        background-color: #3fc2c97f;
    }
    #buttonleft {
        grid-area: buttonleft;
        width: 150px;
        height: 75px;
        background-color: #3fc2c9c0;
        color: #F5F5F5;
        border-radius: 10px;
        font-size: 35px;
        position: absolute;
        top: 75%;
        left: 30%;
        display: flex;
        justify-content: center; 
        align-content: center; 
        justify-items: center; 
        align-items: center; 
    }
    #buttonleft:active {
        background-color: #3fc2c97f;
    }
}
@media (min-width: 600px) and (max-width: 1080px) {
    .container {
        width: 100%;
        height: 100vh;
        background: linear-gradient(0deg, #364F6B 50%, #3FC1C9 50%);
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
            ". . . . ."
            ". words words words ."
            ". words words words ."
            ". words words words ."
            ". . . . .";
    }
    .words {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
            ". . . . ."
            ". left english right ."
            ". . . . ."
            ". . meaning . ."
            ". buttonleft . buttonright ."; 
        justify-content: center; 
        align-content: center; 
        justify-items: center; 
        align-items: center; 
        grid-area: words; 
    }
    #english { grid-area: english; font-size: 100px; color: #364F6B;}
    #meaning { grid-area: meaning; position: absolute; top: 51%; font-size: 45px; color: #F5F5F5;}
    .right { 
        grid-area: right; width: 75px; height: auto; justify-self: start;
        font-size: 75px;
        color: #F5F5F5;
        display: flex;
        justify-content: center; 
        align-content: center; 
        justify-items: center; 
        align-items: center; 
    }
    .left { 
        grid-area: left; width: 75px; height: auto; justify-self: end;
        font-size: 75px;
        color: #F5F5F5;
        display: flex;
        justify-content: center; 
        align-content: center; 
        justify-items: center; 
        align-items: center; 
    }
    #buttonright {
        grid-area: buttonright;
        width: 150px;
        height: 75px;
        background-color: #3fc2c9c0;
        color: #F5F5F5;
        border-radius: 10px;
        font-size: 35px;
        position: fixed;
        top: 75%;
        right: 25%;
        display: flex;
        justify-content: center; 
        align-content: center; 
        justify-items: center; 
        align-items: center; 
    }
    #buttonright:active {
        background-color: #3fc2c97f;
    }
    #buttonleft {
        grid-area: buttonleft;
        width: 150px;
        height: 75px;
        background-color: #3fc2c9c0;
        color: #F5F5F5;
        border-radius: 10px;
        font-size: 35px;
        position: fixed;
        top: 75%;
        left: 25%;
        display: flex;
        justify-content: center; 
        align-content: center; 
        justify-items: center; 
        align-items: center; 
    }
    #buttonleft:active {
        background-color: #3fc2c97f;
    }
}
@media (max-width: 599px) {
    .container {
        width: 100%;
        height: 100vh;
        background: linear-gradient(0deg, #364F6B 50%, #3FC1C9 50%);
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
            ". . . . ."
            ". words words words ."
            ". words words words ."
            ". words words words ."
            ". . . . .";
    }
    .words {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
            ". . . . ."
            ". left english right ."
            ". . . . ."
            ". . meaning . ."
            ". buttonleft . buttonright ."; 
        justify-content: center; 
        align-content: center; 
        justify-items: center; 
        align-items: center; 
        grid-area: words;  
    }
    #english { grid-area: english; font-size: 60px; margin-bottom: -75px; color: #364F6B;}
    #meaning { grid-area: meaning; font-size: 30px; margin-top: -100px; color: #F5F5F5}
    .right { 
        grid-area: right;
        width:65px; height: auto; justify-self: start;
        font-size: 50px;
        margin-bottom: -75px;
        color: #F5F5F5;
        display: flex;
        justify-content: center; 
        align-content: center; 
        justify-items: center; 
        align-items: center; 
    }
    .left { 
        grid-area: left;
        width: 65px; height: auto; justify-self: end;
        margin-bottom: -75px;
        font-size: 50px;
        color: #F5F5F5;
        display: flex;
        justify-content: center; 
        align-content: center; 
        justify-items: center; 
        align-items: center; 
    }
    #buttonright {
        grid-area: buttonright;
        width: 100px;
        height: 50px;
        background-color: #3fc2c9c0;
        color: #F5F5F5;
        border-radius: 10px;
        font-size: 20px;
        position: absolute;
        top: 75%;
        right: 10%;
        display: flex;
        justify-content: center; 
        align-content: center; 
        justify-items: center; 
        align-items: center; 
    }
    #buttonright:active {
        background-color: #3fc2c97f;
    }
    #buttonleft {
        grid-area: buttonleft;
        width: 100px;
        height: 50px;
        background-color: #3fc2c9c0;
        color: #F5F5F5;
        border-radius: 10px;
        font-size: 20px;
        position: absolute;
        top: 75%;
        left: 10%;
        display: flex;
        justify-content: center; 
        align-content: center; 
        justify-items: center; 
        align-items: center; 
    }
    #buttonleft:active {
        background-color: #3fc2c97f;
    }
}